<div class="container">
  <h1>Edit your booking for <%= @booking.surfboard.name %></h1>
  <%= simple_form_for [@surfboard, @booking] do |f| %>
    <%# <%= f.label :book_your_dates %>
    <%= f.input :start_date, as: :datetime, required: false, input_html: {class: "datetimepicker"} %>
    <%= f.input :end_date, as: :datetime, required: false, input_html: {class: "datetimepicker"} %>
    <%= f.submit "Let's Surf", class: "button2" %>
  <% end %>
</div>


