<h1 style="margin-top: 165px">New booking for <%= @surfboard.name %></h1>
<!--<div class="main">-->

<!--  <div class="flex-child magenta card">-->
<!--  <div class= "picture">-->

<!--  </div>-->
<!--  </div>-->

  <div class="card-product">
    <% if @surfboard.photo.attached? %>
      <%=  cl_image_tag @surfboard.photo.key %>
    <% else %>
      <%= image_tag "https://res.cloudinary.com/dhj0qswpc/image/upload/v1613696409/lqa75pzo9l9b3iqr83cjzq1iz9pm.jpg", height: 550, width: 312, crop: :fill %>
    <% end %>
    <div class="card-product-infos">
      <h2><%= @surfboard.name %></h2>
      <p><%= @surfboard.details %> </p>
    </div>
  </div>
  
  

<div class="calendar">
  <div class="calendar__picture">
    <h2>BOOKING REQUEST</h2>
  </div>
  <div >
    
    <%= simple_form_for [@surfboard, @booking] do |f| %>
    <%# <%= f.label :book_your_dates %>
    <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.submit "Let's Surf", class: "button2" %>
  <% end %>

  </div>
</div>
</div>

   
  