<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="5000">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner position-relative">
    <div class="container carousel-overlay">
          <h1>Dude Boards brings <strong>people</strong> together </h1>
          <p>Find the surfboard you need at any time..any city around the world.</p>
     <%= link_to "Dude Board now", surfboards_path, class: "btn btn-primary mt-2"  %>
    </div>
    <div class="carousel-item active">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dhj0qswpc/image/upload/v1613267575/little-plant-RMXIn292QSs-unsplash_ryj3hj.jpg); width: 1520px; height: 600px; background-position: center; background-size: cover">

      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("https://res.cloudinary.com/dhj0qswpc/image/upload/v1613267589/jakob-owens-nmXwoDphQGs-unsplash_nxa9w3.jpg", width: '100%', height: 600, style: "background-position: center; background-size: cover;") %>    </div>
    <div class="carousel-item">
      <%= image_tag("https://res.cloudinary.com/dhj0qswpc/image/upload/v1613267585/don-stouder-s3BLxJ7_FvU-unsplash_ecjopm.jpg", width: '100%', height: 600, style: "background-position: center; background-size: cover;") %>    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



<h2 style="text-align: center;margin-top: 90px"><strong>Most featured Dude Boards</strong></h2>
<div class="album text-muted">
  <div class="container">
    <div class="row-index row">
      <% @surfboards.each do |surfboard| %>
        <div class="col-sm-12 col-md-4 ">
          <div class="card-index" style="box-shadow: #2E2F30">

            <a href="<%= surfboard_path(surfboard) %>">
              <% if surfboard.photo.attached? %>
              <%= cl_image_tag surfboard.photo.key, class: "card-image-index", height: 280, width: 322, crop: :fill %>
              <% else %>
                <%= image_tag "httplqa75pzo9l9b3iqr83cjzq1iz9pm.jpg", height: 280, width: 312, crop: :fill %>
              <% end %>
                </a>
                <div style="height: 230px;">
              <h3><strong class="card-text_index" style="box-shadow: #2E2F30; font-family: 'Londrina Solid', cursive; color: #0E0000 "><%= surfboard.name%></strong></h3>
              <!--          <a href="<%#= product_path(product) %>"><%#= image_tag("picture_holder")%><a>-->
              <p><%= surfboard.details %></p>
              <h5>£<%= surfboard.price %> per hour</h5>
              <h5 style="height: 38px"><%= surfboard.location %></h5>
                  <% if surfboard.owner.profile_pic.attached? %>
                    <%= cl_image_tag current_user.profile_pic.key, class: "avatar dropdown-toggle card-image", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false%>
                  <% else %>
                    <%= image_tag "https://kitt.lewagon.com/placeholder/users/odayadli", class: "avatar dropdown-toggle card-image1", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                  <% end %>
              <div class="card-foot">
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row explore">
      <%= link_to "Explore more Dude Boards", surfboards_path, class: "btn btn-primary mt-2"  %>

      <div class="col-md-12">
      </div>
    </div>
  </div>
</div>



