<%= link_to surfboard_path(surfboard) do %>

  <% if surfboard.photo.attached? %>
    <%= cl_image_tag surfboard.photo.key, height: 100, width: 100, crop: :fill  %>
  <% else %>
    <%= image_tag "https://res.cloudinary.com/dhj0qswpc/image/upload/v1613696409/lqa75pzo9l9b3iqr83cjzq1iz9pm.jpg", width: '320', height: '280', class: "card-image-index" %>
  <% end %>

<% end %>
<h2><%= link_to surfboard.name, surfboard_path(surfboard) %></h2>
<h3><%= surfboard.location %></h3>
<p>£<%= surfboard.price %></p>