

<h1>My Surfboards</h1>
<h3>You have <%= @surfboards.count %> surfboard<%=@surfboards.count == 1 ? '' : 's'%></h3>

<div class="navbar-surfboard">
  <%= link_to "Add a new surfboard", new_surfboard_path, type: "button", class: "btn btn-primary mt-2" %>
</div>

<div class="album text-muted">
  <div class="container">
    <div class="row-index row">
      <% @surfboards.each do |surfboard| %>
        <div class="col-sm-12 col-md-4 ">
          <div class="card-index" style="border: 4px solid black; box-shadow: #2E2F30; height: 490px ">
           <a href="<%= surfboard_path(surfboard) %>">
              <% if surfboard.photo.attached? %>
              <%= cl_image_tag surfboard.photo.key, height: 280, width: 312, crop: :fill %>
              <% else %>
               <%= image_tag "https://res.cloudinary.com/dhj0qswpc/image/upload/v1613696409/lqa75pzo9l9b3iqr83cjzq1iz9pm.jpg", width: '320', height: '280', class: "card-image-index" %>
                <% end %>
                </a>

            <div>
              <strong class="card-text_index" style="box-shadow: #2E2F30; font-family: 'Londrina Solid', cursive; color: #0E0000 "><%= link_to surfboard.name, surfboard_path(surfboard) %></strong>
              <!--          <a href="<%#= product_path(product) %>"><%#= image_tag("picture_holder")%><a>-->
              <p><%= surfboard.details %></p>
              <h5>£<%= surfboard.price %> per hour</h5>
              <h5><%= surfboard.location %></h5>

              <div class="card-foot">
                <div class="foot edit" style="background-color: #d4c8be; display: inline-flex;
                  gap: 23px; ">
                  <div>
                  <i class="fas fa-edit"><%= link_to "Edit me", edit_surfboard_path(surfboard) %></i>
                  </div>
                  <div>
                  <i class="fas fa-edit" ><%= link_to "Delete me", surfboard_path(surfboard), method: :delete %></i>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
  </div>
</div>


